<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd "
>

    <bean name="person" class="com.lunzi.spring.beans.test.Person"></bean>
    <bean name="txManager" class="com.lunzi.spring.beans.test.TransactionManager"></bean>
    <aop:config>
        <!--切面（一个类，一坨代码）-->
        <aop:aspect ref="txManager">
            <!--切点（在哪里执行）-->
            <aop:pointcut id="savePerson" expression="execution(* com.lunzi.spring.beans.test.Person.save(..))"></aop:pointcut>
            <!--之前，之后等执行-->
            <aop:before pointcut-ref="savePerson" method="start"></aop:before>
            <aop:after-returning pointcut-ref="savePerson" method="commit"></aop:after-returning>
            <aop:after-throwing pointcut-ref="savePerson" method="rollback"></aop:after-throwing>
        </aop:aspect>


    </aop:config>

</beans>